$green: #45b337;
$humility: #777;
$darkgray: #2d2d2d;
.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background: lighten($darkgray, 10%);
  padding: 40px 20px;
  color: white;
  text-align: center;
  .logo {
    $size: 75%;
    margin: auto;
    height: $size;
    width: $size;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  h1 {
    color: $green;
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
  .github {
    font-size: 1.5em;
  }
}

.counterContainer {
  text-align: center;
  margin: 20px;
}
