.banner {
  padding: 50px 20px;
}

.banner__title {
  color: white;
  display: block;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  text-shadow: 6px 6px 9px #181818;
  width: 100%;
}

.banner__title__sub {
  display: block;
  font-size: 48px;
}

@media (min-width: 1024px) {
  .banner {
    height: 300px;
    padding: 0;
    position: relative;
  }

  .banner__title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
