/*
Use `border-box` properly:
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.pageTitle{
  color: whitesmoke;
}

/* External CSS */
@import "normalize.css/normalize.css";

/* Global CSS */
@import "pure-menu.css";
@import "home.css";
@import "banner.css";
@import "explanation.css";
@import "sign-me-up.css";
@import "how-it-works.css";
@import "snackbar.css";
@import "admin.css";
@import "donations.css";
